{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="title">This is placeholder content</h2>
          <h3 class="subtitle"> and should be replaced.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, hic.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis perferendis minima eos repudiandae, sequi quo.</p>
        </div>
      </div>
    </section>
  </body>

{% endblock %}
