{% extends 'layouts/main.html' %}
{% block title %}Register{% endblock %}
{% block content %}

  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
          <div class="container has-text-centered">
              <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Registration</h3>
                <hr class="login-hr">
                  <div class="box">
                  <p class="subtitle has-text-black">Register here to continue.</p> <br>
                  <div class="form">
                  {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
                  {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
                  {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
                  {{ form.confirm(class_ = 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
                  </div> <br>
                  <button class="button is-block is-info is-medium is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                  </div>
                <p class="has-text-grey">
                  <a href="{{ url_for('login') }}">Login Instead</a>
                </p>
                  <p>Add database and Flask-Login to enable user management.</p>
              </div>
          </div>
      </div>
  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
  </body>
  

{% endblock %}
